@import '../../styles/common.scss';

.smart_data {
  margin-bottom: 7em;

  .smartdata_row {
    margin: 0 auto;
    .smartdata_col {
      padding: 0;
    }
    .smart_box {
      position: relative;
      height: 100%;
      cursor: pointer;
      &:hover {
        .card_title {
          display: none;
          transition: 0.5s ease;
        }
        .content_wrapper {
          display: flex;
          transition: 0.5s ease;
        }
        .blue_back {
          display: block;
          transition: 0.5s ease;
        }
      }
      .img_wrapper {
        height: 100%;
      }
      .smart_img {
        width: 100%;
        max-width: 100%;
        height: 100%;
        transition: 0.5s ease;
      }
      .blue_back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        height: 100%;
        display: none;
        transition: 0.5s ease;
      }
      .title {
        color: $color-FFFFFF;
        font-size: 3.875em;
        font-weight: 200;
        letter-spacing: 0px;
        line-height: 1.3549;
      }
      .card_title {
        width: 100%;
        // max-width: 12.5em;
        max-width: 100%;
        position: absolute;
        // left: 1.29em;
        left: 0;
        bottom: 0.6775em;
        display: block;
        transition: 0.5s ease;
        padding: 0 1.29em;
        br {
          display: block;
        }
      }
      .content_wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        height: 100%;
        padding: 2em 5em 6.4375em;
        display: none;
        flex-direction: column;
        justify-content: flex-end;
        .title {
          margin-bottom: 0.5484em;
          br {
            display: none;
          }
        }
        .section_desc {
          color: $color-FFFFFF;
        }
      }
    }
  }
}

@media (max-width: 1194px) {
  .smart_data {
    .smartdata_row {
      .smart_box {
        min-height: 55em;
        .smart_img {
          min-height: 55em;
        }
        .content_wrapper {
          padding: 5em 4em 5em;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .smart_data {
    .smartdata_row {
      .smartdata_col {
        &:last-child .smart_box {
          .content_wrapper .section_desc {
            border: none;
            padding: 0;
          }
        }
      }
      .smart_box {
        height: auto;
        min-height: 100%;
        &:hover {
          .blue_back {
            display: none;
          }
          .card_title {
            display: block;
          }
        }
        .img_wrapper {
          position: relative;
        }
        .smart_img {
          min-height: 100%;
        }
        .card_title {
          bottom: 1em;
          z-index: 1;
        }
        .content_wrapper {
          position: relative;
          bottom: initial;
          left: initial;
          display: flex;
          height: auto;
          .section_desc {
            color: $color-181818;
            border-bottom: 1px solid #18181833;
            padding-bottom: 2em;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .smart_data {
    .smartdata_row {
      .smartdata_col {
        &:last-child {
          .smart_box {
            .content_wrapper {
              padding-bottom: 0;
            }
          }
        }
      }
      .smart_box {
        .card_title {
          font-size: 3.2em;
          letter-spacing: 0px;
          line-height: normal;
          text-align: left;
          bottom: 0.65em;
          padding: 0 0.5358em;
        }
        .content_wrapper {
          padding: 2.2em 1.5em 3em;
          .section_desc {
            padding-bottom: 1.5715em;
          }
        }
      }
    }
  }
}
