@import "../../styles/common.scss";

.whyuse_sec {
  .cardbox_row {
    padding-top: 1.125em;
    margin: 0 auto;
    column-gap: 2.625em;
    width: 100%;
    max-width: 88.5%;
  }
  .cardbox_col {
    padding: 0;
    margin-top: 2.625em;
    max-width: 31.1%;
  }
  .box {
    border-radius: 1.25em;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    padding: 2.625em 2.65625em 3.375em;
    position: relative;
    height: 100%;
    min-height: 16.5625em;
    .img_wrapper {
      background: linear-gradient(221deg, #ff7527, #0119af);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 5.5625em;
      height: 5.5625em;
      margin: 0 auto;
    }
    .card_img {
      max-width: 3.25em;
    }
    .card_text {
      color: $color-FFFFFF;
      font-size: 1.5em;
      font-weight: 400;
      letter-spacing: 0px;
      line-height: 1.5;
      text-align: center;
      margin-top: 0.4167em;
    }
  }
}

@media (max-width: 1700px) {
  .whyuse_sec {
    .cardbox_row {
      max-width: 85%;
      column-gap: 2.9em;
    }
  }
}

@media (max-width: 1536px) {
  .whyuse_sec {
    .cardbox_row {
      column-gap: 3.3em;
    }
  }
}

@media (max-width: 1440px) {
  .whyuse_sec {
    .cardbox_row {
      column-gap: 2.8em;
    }
  }
}

@media (max-width: 1080px) {
  .whyuse_sec {
    .cardbox_row {
      column-gap: 2.35em;
    }
  }
}

@media (max-width: 992px) {
  .whyuse_sec {
    .cardbox_row {
      max-width: 92%;
      column-gap: 2em;
    }

    .cardbox_col {
      max-width: 100%;
      flex: 0 0 31%;
    }
    .box {
      .card_text {
        br {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .whyuse_sec {
    .cardbox_col {
      max-width: 31%;
      flex: 0 0 auto;
    }
  }
}

@media (max-width: 767px) {
  .whyuse_sec {
    .cardbox_row {
      column-gap: 0;
      padding-top: 4.4em;
      max-width: 100%;
    }
    .cardbox_col {
      margin-top: 1.6em;
      max-width: 100%;
      &:nth-child(2n + 1) {
        padding-right: 0.75em;
      }
      &:nth-child(2n + 2) {
        padding-left: 0.75em;
      }
    }
    .box {
      border-radius: 1em;
      padding: 3.2em 1.2em 3.2em;
      .card_text {
        font-size: 1.4em;
        letter-spacing: 0px;
        line-height: 1.4285;
        margin-top: 0.88em;
        br {
          display: none;
        }
      }
      .img_wrapper {
        max-width: 5.6em;
        height: 5.6em;
      }
      .card_img {
        max-width: 3.4em;
      }
    }
  }
}
