@import '../../styles/variables';

.our-story {
  .hero {
    background: url(../../assets/our-story/our-story-banner.png) no-repeat
      center;
    background-size: cover;
    padding: 4em 2em;
    text-align: center;
    height: 40.625em;
    display: grid;
    place-items: center;

    .hero-content {
      position: relative;

      h1 {
        font-size: 7em;
        color: white;
        font-weight: 300;
        margin-bottom: 1em;
      }

      .techno-images {
        position: absolute;
        inset: 0;
        display: flex;
        height: 100%;
        justify-content: space-between;
        overflow: hidden;

        .techno-image-left {
          height: 20em;
          transform: translate(-50%, 100%);
        }
        .techno-image-right {
          height: 20em;
          transform: translate(50%, 0%);
        }
      }
    }
  }

  .story_sec3 {
    position: relative;

    // .leftWave {
    //   position: absolute;
    //   right: 0;
    //   top: 2em;
    //   transform: rotate(0deg);
    //   left: -20em;
    //   scale: -1;
    //   width: 40%;
    // }
    .left_wave {
      top: initial;
      top: 0em;
      left: -20em;
      transform: rotate3d(0, 180, 0, 180deg);
      z-index: -1;
    }

    @media (max-width: 1024px) {
      .left_wave {
        top: -1em;
        left: -13em;
      }
    }
    @media (max-width: 426px) {
      .left_wave {
        left: -18em;
        top: -5em;
      }
    }
  }

  .introduction {
    .section_heading {
      text-align: left;
    }

    p {
      margin-top: 1.5em;
      font-size: 1.5em;
      font-weight: 300;
    }
  }

  .client_journey {
    .content_wrapper {
      padding: 6.4732em 10.4375em 4em 6.125em;
    }
  }
}

@media (max-width: 768px) {
  .our-story {
    .hero {
      text-align: left;
    }

    .introduction {
      padding-inline: 6em;

      @media (max-width: 426px) {
        padding-inline: 2em;
      }

      .my_container {
        padding: 0;
        margin: 0;
      }
    }
  }
}
