@import "../../styles/common.scss";

.whyuse_progress {
  margin-top: 3.75em;
  .data_row {
    margin: 0 auto;
    width: 100%;
    max-width: 97.7%;
    // background-color: rgba(255, 255, 255, 0.16);
    background-color: #101b66;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1.875em;
    padding: 2.25em 2em 0.9025em;
    .data_col {
      padding: 0;
      &:last-child .img_wrapper {
        &::before {
          display: none;
        }
      }
    }
    .data_box {
      width: 100%;
      max-width: 18.125em;
    }
    .img_wrapper {
      width: 100%;
      max-width: 7.3307em;
      position: relative;
      margin: 0 auto;
      position: relative;
      &::before {
        content: "";
        background-color: rgba(255, 255, 255, 0.3);
        width: 1px;
        height: 70%;
        position: absolute;
        right: -75%;
        bottom: 0;
      }
    }
    .org_circle {
      width: 100%;
      max-width: 100%;
    }
    .vid {
      width: 100%;
      max-width: 100%;
      border-radius: 50%;
    }
    .blue_circle {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      max-width: 100%;
    }
    .circle_text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    .data_percent {
      color: #00f3ff;
      font-size: 1.75em;
      font-weight: 600;
      letter-spacing: 0px;
      line-height: 1.3572;
    }
    .content_wrapper {
      text-align: center;
      margin-top: 0.6em;
    }
    .desc {
      color: #ffffff;
      font-size: 1.375em;
      font-weight: 300;
      letter-spacing: 0px;
      line-height: 1.5454;
    }
  }
}

@media (max-width: 1800px) {
  .whyuse_progress {
    .data_row {
      max-width: 95%;
    }
  }
}

@media (max-width: 1700px) {
  .whyuse_progress {
    .data_row {
      max-width: 92%;
    }
  }
}

@media (max-width: 1080px) {
  .whyuse_progress {
    .data_row {
      .img_wrapper {
        &::before {
          right: -60%;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .whyuse_progress {
    .data_row {
      max-width: 100%;
      justify-content: center;
      padding: 1em 2em 2.25em;
      .data_col {
        flex: 0 0 33.3333%;
        margin-top: 2em;
        padding-bottom: 2em;
        border-bottom: 1px solid #ffffff66;
        height: auto;
        &:nth-last-child(1) {
          border-bottom: none;
        }
        &:nth-last-child(2) {
          border-bottom: none;
        }
      }
      .img_wrapper {
        height: 100%;
        &::before {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .whyuse_progress {
    .data_row {
      border-radius: 1.2em;
      max-width: 100%;
      padding: 3.3em 2.4em 3.544em;
      .data_col {
        margin-top: 2.4em;
        flex: 0 0 auto;
        padding-bottom: 3em;
        &:nth-child(3n + 2) .data_box {
          margin: 0;
        }
        &:nth-child(3n + 3) .data_box {
          margin-left: 0;
        }
        &:nth-child(2n + 1) .data_box {
          margin-right: auto;
        }
        &:nth-child(2n + 2) .data_box {
          margin-left: auto;
        }
        &:nth-last-child(2) {
          border-bottom: 1px solid #ffffff66;
        }
        &:last-child {
          padding-bottom: 0;
          border-bottom: none;
          .data_box {
            margin-right: 0;
          }
        }
      }
      .data_box {
        max-width: 95%;
      }
      .img_wrapper {
        max-width: 85%;
      }
      .data_percent {
        font-size: 2.8em;
        letter-spacing: 0px;
        line-height: 1.3572;
      }
      .desc {
        font-size: 1.4em;
        letter-spacing: 0px;
        line-height: 1.4285;
      }
    }
  }
}
