@import '../../styles/common.scss';

.tab_section {
  .tab_row {
    margin: 0 auto;
    padding-top: 3.75em;
  }
  .tab_col {
    padding: 0;
  }

  .tab_wrapper {
    background-color: #efefef;
    padding: 2.89em 2.956em 1.15625em 5em;
    transition: 0.5s ease;
    cursor: pointer;
    &.active {
      background: transparent linear-gradient(228deg, #ff8000, #0119af);
      transition: 0.5s ease;
    }

    .arrow {
      display: block;
      margin-left: auto;
      width: 100%;
      max-width: 2.9825em;
      transition: 0.5s ease;
      &.active {
        transition: 0.5s ease;
        transform: rotate(45deg);
      }
    }

    .tab_name {
      color: #181818;
      font-size: 3.875em;
      font-weight: 200;
      letter-spacing: 0px;
      line-height: 1.4354;
      margin-top: 0.38em;
      transition: 0.3s ease;
      &.active {
        color: #ffffff;
        transition: 0.3s ease;
      }
    }
  }
}
