@import "../../styles/common.scss";

.logobox_container {
  // padding: 0 6.5625em 0 5.125em;
  padding: 0 5.492% 0 4.289%;
  .logo_row {
    margin: 0 auto;
    padding-top: 1.625em;
    justify-content: center;
    column-gap: 2.5em;
  }
  .logo_col {
    padding: 0;
    margin-top: 2.125em;
    max-width: calc(33.333% - 1.7em);
  }
  .logo_boxes {
    background-color: #f6f6f6;
    border: 1px solid #ffffff33;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 19.41em;
    .logo {
      max-width: 27.25em;
    }
  }
}

@media (max-width: 991px) {
  .logobox_container {
    .logo_row {
      column-gap: 0;
    }
    .logo_col {
      max-width: 100%;
      &:nth-child(2n+1) {
        padding-right: 1em;
      }
      &:nth-child(2n+2) {
        padding-left: 1em;
      }
    }
  }
}

@media (max-width: 767px) {
  .logobox_container {
    .logo_row {
      padding-top: 1.6em;
    }
    .logo_col {
      margin-top: 1.6em;
      &:nth-child(2n+1) {
        padding-right: 0.8em;
      }
      &:nth-child(2n+2) {
        padding-left: 0.8em;
      }
    }
    .logo_boxes {
      min-height: 11.6em;
      .logo {
        max-width: 13.2em;
      }
    }
  }
}
