.marketing-alert {
  .heading {
    margin: 0 auto;
    text-align: center;

    p {
      font-size: 2em;
      margin: 1em auto 2.75em;
      font-weight: 400;
      max-width: calc(100vw - 12em);
    }
  }

  .image-box {
    .alert-flow-image {
      padding: 8em 0;
      background-color: #0b1865;
      // background: transparent
      //   linear-gradient(
      //     180deg,
      //     #001596 0%,
      //     #091669 21%,
      //     #0d1756 79%,
      //     #001596 100%
      //   )
      //   0% 0% no-repeat padding-box;
      position: relative;
      overflow: hidden;

      .techno-el {
        position: absolute;
        top: 2em;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .left-el,
        .right-el {
          width: 30%;
        }

        .left-el {
          transform: translateX(-15em) scaleX(-1);
          @media (max-width: 768px) {
            transform: translateX(-18em) scaleX(-1);
          }
          @media (max-width: 426px) {
            transform: translateX(-10em) scaleX(-1);
          }
        }

        .right-el {
          transform: translateX(15em);
          @media (max-width: 768px) {
            transform: translateX(15em);
          }
          @media (max-width: 426px) {
            transform: translateX(6em);
          }
        }
      }

      #vid {
        margin-top: 8em;

        @media (max-width: 426px) {
          margin-top: 1em;
        }
      }
    }

    .create-alert {
      // background: transparent url(../../../assets/customer-model-bg.png)
      //   no-repeat center center;
      background: #0b1865;
      padding: 8em;
      color: #fff;
      display: flex;
      flex-direction: column;
      gap: 9.625em;

      .top_content,
      .bottom_content {
        display: flex;
        justify-content: space-between;
      }

      .bottom_content {
        // justify-content: space-around;
        padding-inline: 13%;
      }

      .source-systems,
      .etl-processes {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 20px;
        gap: 4em;
        border: 1px solid #ff7527;
        border-radius: 10px;
        position: relative;
        // background-color: rgba(255, 255, 255, 0.05);
      }

      .source-systems {
        // width: 59.625em;
        width: 45%;
      }

      .etl-processes {
        // width: 39.5em;
        width: 35%;
      }

      .system,
      .process {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        text-align: center;
      }

      position: relative;

      .dashed-arrow {
        position: absolute;
        border: 1px dashed #ffffff62;

        &::after {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          border-style: solid;
          border-color: #ffffff62;
          border-width: 2px 2px 0 0;
        }
      }

      .arrow-right {
        top: 50%;
        // right: -22.3em;
        // width: 22em;
        right: -42%;
        width: 42%;
        transform: translateY(-50%);

        &::after {
          right: -6px;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }

        @media (max-width: 768px) {
          transform: translate(-50%, 0);
          right: 0;
          top: 100%;
          width: 1px;
          left: 50%;
          height: 16%;

          &::after {
            top: 100%;
            left: 100%;
            transform: translateX(-50%) rotate(135deg);
          }
        }
        @media (max-width: 431px) {
          transform: translate(-50%, 0);
          right: 0;
          top: 100%;
          width: 1px;
          left: 50%;
          height: 11%;
        }
      }

      .arrow-down {
        left: 50%;
        // bottom: -8em;
        // height: 8em;
        bottom: -20%;
        height: 20%;
        transform: translateX(-50%);

        &::after {
          bottom: -6px;
          left: 50%;
          transform: translateX(-50%) rotate(135deg);
        }

        @media (max-width: 768px) {
          height: 55%;
          bottom: -55%;
        }
        @media (max-width: 431px) {
          height: 23%;
          bottom: -23%;
        }
      }

      .arrow-left {
        bottom: 60%;
        left: -220%;
        width: 220%;
        // left: -26.5em;
        // width: 26em;
        transform: translateY(50%);

        @media (max-width: 1280px) {
          left: -180%;
          width: 180%;
        }
        @media (max-width: 1024px) {
          left: -120%;
          width: 120%;
        }

        &::after {
          left: -6px;
          top: 50%;
          transform: translateY(-50%) rotate(-135deg);
        }

        @media (max-width: 768px) {
          transform: translate(-50%, 0);
          left: 0;
          bottom: 18%;
          // top: 0;
          width: 1px;
          left: 50%;
          height: 6%;

          &::after {
            top: 100%;
            left: 100%;
            transform: translateX(-50%) rotate(135deg);
          }
        }
        @media (max-width: 431px) {
          bottom: 11.5%;
          height: 5%;
        }
        @media (max-width: 415px) {
          bottom: 13%;
          height: 5%;
        }
      }

      .icon {
        width: 9.25em;
        height: 9.25em;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        // margin-bottom: 10px;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          top: -2px;
          left: -2px;
          right: -2px;
          bottom: -2px;
          border: 2px solid #00ffff;
          border-radius: 50%;
          opacity: 0.5;
        }
      }

      .data-mart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        .icon {
          &::after {
            border-color: #ff6600;
          }
        }

        .title {
          max-width: 8em;
        }
      }

      .wysiwyg-editor {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 1.875em;
        padding: 1em 3.5625em;
        text-align: center;
        font-size: 2em;
        width: 60%;
        // max-width: 27.375em;
        display: grid;
        place-items: center;
      }

      .title {
        font-size: 1.5em;
        margin-top: 1em;
        max-width: 7em;
      }

      @media (max-width: 768px) {
        .etl-processes,
        .source-systems,
        .wysiwyg-editor {
          width: 100%;
          margin-left: 0;
        }

        .top_content {
          flex-direction: column;
          gap: 8em;
        }

        .bottom_content {
          flex-direction: column-reverse;
          gap: 10em;
        }

        .data-mart {
          position: static;
          margin: 20px auto;
        }

        .wysiwyg-editor {
          max-width: 100%;
        }
      }

      @media (max-width: 431px) {
        padding: 2em;
        gap: 0;
        // column-gap: 2em;

        .wysiwyg-editor {
          border-radius: 1em;
          margin-top: 4em;
        }

        .top_content,
        .bottom_content {
          gap: 0;
          // row-gap: 5em;
        }

        .bottom_content {
          padding-inline: 0;
        }

        .source-systems {
          width: auto;
          gap: 0;
        }

        .icon {
          width: 10em;
          height: 10em;
        }

        .source-systems,
        .etl-processes {
          padding: 1em;
          column-gap: 2em;
          margin-bottom: 8em;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .marketing-alert {
    text-align: left;

    .heading {
      padding: 0 2em;

      .my_container {
        padding: 0;
      }

      p {
        text-align: left;
        padding-inline: 2em;
        max-width: 100%;
      }
    }

    .image-box {
      .alert-flow-image {
        padding: 8em 2em;

        .techno-el {
          .left-el,
          .right-el {
            width: 50%;
          }
        }
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 431px) {
  .marketing-alert {
    .heading {
      p {
        padding-inline: 0em;
      }
    }
  }
}
