@import "../../styles/common.scss";

.quotes_sec_container {
  .quote_row {
    margin: 0 auto;
    padding: 5.625em 5em 0;
  }
  .quote_col {
    padding: 0;
    &:nth-child(1) .quote_box {
      max-width: 92.88%;
    }
    &:nth-child(2) .quote_box {
      max-width: 91.021%;
      padding: 3.96875em 3.25em 3.9em 7em;
    }
    &:nth-child(3) .quote_box {
      padding: 3.96875em 3.55em 3.9em 3.55em;
    }
    .quote_box {
      background-color: #ffffff;
      width: 100%;
      max-width: 100%;
      height: 100%;
      padding: 3.96875em 4.4em 3.9em 6.5em;
      position: relative;
      .quote_border {
        width: 100%;
        max-width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;
      }
      .quote_icon {
        max-width: 3.3125em;
      }
      .quote_heading {
        font-size: 1.5em;
        font-weight: 600;
        letter-spacing: 0px;
        line-height: 1.5;
        margin: 0.3em 0 0.75em;
      }
      .quotes_description {
        margin-bottom: 1.5em;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .sub_heading {
        font-size: 1.375em;
        font-weight: 400;
        letter-spacing: 0px;
        line-height: 1.5454;
      }
      .quote_desc {
        font-size: 1.375em;
        font-weight: 300;
        letter-spacing: 0px;
        line-height: 1.5454;
      }
    }
  }
}

@media (max-width: 1536px) {
  .quotes_sec_container {
    .quote_row {
      padding: 5.625em 7em 0;
    }
    .quote_col {
      &:nth-child(1) .quote_box {
        max-width: 89.88%;
      }
      &:nth-child(2) .quote_box {
        max-width: 88.021%;
        padding: 3.96875em 2em 3.9em 8.5em;
      }
      &:nth-child(3) .quote_box {
        padding: 3.96875em 5em 3.9em 5em;
      }
      .quote_box {
        padding: 3.96875em 5em 3.9em 8em;
      }
    }
  }
}

@media (max-width: 1194px) {
  .quotes_sec_container {
    .quote_row {
      padding: 5.625em 3em 0;
    }
    .quote_col {
      &:nth-child(1) .quote_box {
        max-width: 92.88%;
      }
      &:nth-child(2) .quote_box {
        max-width: 91%;
        padding: 3.96875em 3em 3.9em 6em;
      }
      &:nth-child(3) .quote_box {
        padding: 3.96875em 3em 3.9em 3em;
      }
      .quote_box {
        padding: 3.96875em 3em 3.9em 6em;
      }
    }
  }
}

@media (max-width: 991px) {
  .quotes_sec_container {
    .quote_row {
      padding: 1.6em 3em 0;
    }
    .quote_col {
      margin-top: 4em;
    }
  }
}

@media (max-width: 767px) {
  .quotes_sec_container {
    .quote_row {
      padding: 0 1.5em 0;
    }
    .quote_col {
      margin-top: 3.6em;
      &:nth-child(1) .quote_box {
          max-width: 34.5em;
      }
      &:nth-child(2) .quote_box {
          max-width: 34.5em;
          padding: 4.1em 4em 4.4em 6.5em;
      }
      &:nth-child(3) .quote_box {
          padding: 4.1em 3.2em 3.2em 3.2em;
      }
      .quote_box {
        margin: 0 auto;
        max-width: 34.5em;
        padding: 4.1em 4em 6.5em 6.5em;
        .quote_icon {
          max-width: 3.5em;
        }
        .quote_heading {
          font-size: 1.8em;
          letter-spacing: 0px;
          line-height: 1.8;
          margin: 0.3em 0 0.75em;
        }
        .quotes_description {
          margin-bottom: 1.25em;
        }
        .sub_heading {
          font-size: 1.4em;
          letter-spacing: 0px;
          line-height: 1.7142;
        }
        .quote_desc {
          font-size: 1.4em;
          letter-spacing: 0px;
          line-height: 1.7142;
        }
      }
    }
  }
}
