.prepositionCard {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 4em;

  .prepBox_wrapper {
    .cardbox_sec {
      .cardbox_row {
        column-gap: 3.25em;
        .cardbox_col {
          max-width: 26.44%;
        }
        .box {
          min-height: 15.625em;
          padding: 5.625em;

          .card_text {
            font-size: 1.5em;
            font-weight: 500;
            line-height: 1.5;
          }
        }
      }
    }
  }
}

@media (max-width: 1920px) {
  .prepositionCard {
    max-width: 1500px;

    .prepBox_wrapper {
      .cardbox_sec {
        .cardbox_row {
          .cardbox_col {
            max-width: 30%;

            .box {
              padding: 5em 3.55em;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1536px) {
  .prepositionCard {
    max-width: 1000px;
  }
}

@media (max-width: 1440px) {
  .prepositionCard {
    max-width: 1000px;
  }
}

@media (max-width: 1194px) {
  .prepositionCard {
    .prepBox_wrapper {
      .cardbox_sec {
        .cardbox_row {
          .cardbox_col {
            max-width: 30%;
          }
        }
      }
    }
  }
}

// @media (max-width: 1440px) {
//   .prepositionCard {
//     max-width: 1000px;

//     .prepBox_wrapper {
//       .cardbox_sec {
//         .cardbox_row {
//           .cardbox_col {
//             max-width: 30%;

//             .box {
//               padding: 5.125em;
//             }
//           }
//         }
//       }
//     }
//   }
// }

@media (max-width: 1024px) {
  .prepositionCard {
    max-width: 850px;
  }
}

@media (max-width: 768px) {
  .prepositionCard {
    .cardBox {
      padding: 0em;
      font-size: 1em;
    }
  }
}

@media (max-width: 767px) {
  .prepositionCard {
    .prepBox_wrapper {
      .section_heading {
        text-align: center;
      }
      .cardbox_sec {
        .cardbox_row {
          column-gap: 0;
          .cardbox_col {
            max-width: 100%;
          }
        }
      }
    }
  }
}
