@import "../../styles/common.scss";

.client_journey {
  .journey_row {
    margin: 3.75em auto 0;
    // min-height: 51.90625em;
  }
  .journey_col {
    padding: 0;
  }
  .left_box {
    background-color: #efefef;
    padding: 2.89em 2.956em 1.15625em 5em;
    border-bottom: 1px solid #18181833;
    transition: 0.5s ease;
    // min-height: calc(100% / 5);
    min-height: 14.8em;
    &:first-child {
      border-radius: 3.75em 0em 0em 0em;
    }
    &.active {
      background: transparent linear-gradient(228deg, #ff8000, #0119af);
      transition: 0.5s ease;
    }
    .title {
      color: #181818;
      font-size: 3.875em;
      font-weight: 200;
      letter-spacing: 0px;
      line-height: 1.4354;
      margin-top: 0.38em;
      transition: 0.5s ease;
      &.active {
        color: #ffffff;
        transition: 0.5s ease;
      }
    }
    .grey_arrow {
      display: block;
      margin-left: auto;
      width: 100%;
      max-width: 2.9825em;
      transition: 0.5s ease;
      &.active {
        transform: rotate(45deg);
        transition: 0.5s ease;
      }
    }
  }
  .right_box {
    border-top: 1px solid #18181833;
    border-radius: 0em 3.75em 0em 0em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    transition: 0.5s ease;
    &.active {
      display: flex;
      transition: 0.5s ease;
    }
    .sub_title {
      color: #ff7527;
      font-size: 2.375em;
      font-weight: 400;
      letter-spacing: 0px;
      line-height: 1.3158;
    }
    .desc_wrapper {
      margin: 1.555em 0 2.536em;
      .section_desc {
        ul {
          li {
            list-style-type: disc;
            margin-bottom: 1em;
            margin-left: 1em;
          }
        }
      }
    }
    .content_wrapper {
      padding: 6.4732em 10.4375em 7.5em 6.125em;
    }
    .journey_img {
      width: 100%;
      max-width: 100%;
    }
  }
}

@media (min-width: 1921px) {
  .client_journey {
    .left_box {
      min-height: 14.8em;
      .title {
        margin-top: 0.2em;
      }
    }
    .right_box {
      .content_wrapper {
        padding: 3.5em 10.4375em 2em 6.125em;
      }
    }
  }
}

@media (min-width: 1921px) and (max-height: 1200px) {
  .client_journey {
     .left_box {
       min-height: 13.75em;
     }
   }
}

@media (max-width: 1536px) {
  .client_journey {
    .left_box {
      min-height: 15.2em;
    }
  }
}

@media (max-width: 1024px) {
  .client_journey {
    .left_box {
      min-height: 15.5em;
    }
  }
}

@media (max-width: 991px) {
  .client_journey {
    margin: 3.75em 0 0;
    .accordion-btn-wrapper {
      padding: 0;
      transition: all 0.35s ease-in;
      &:nth-child(1) {
        .left_box:first-child {
          border-radius: 3.75em 3.75em 0em 0em;
        }
      }
      .left_box {
        min-height: 100%;
        padding: 2.89em 5em 1.15625em 5em;
        &:first-child {
          border-radius: 0;
        }
      }
      .right_box {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
        &.active {
          transition: max-height 0.35s cubic-bezier(1, 0, 1, 0);
          height: auto;
          max-height: 9999px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .client_journey {
    margin: 3.2em 0 0;
    .accordion-btn-wrapper {
      &:nth-child(1) {
        .left_box {
          &:first-child {
            border-radius: 2.4em 2.4em 0em 0em;
          }
        }
      }
      .left_box {
        padding: 2.533em 2.3em 1.6em 1.5em;
        .title {
          font-size: 2.8em;
          letter-spacing: 0px;
          line-height: 1.4285;
          margin-top: 0.4em;
        }
        .grey_arrow {
          max-width: 2.27em;
        }
      }
      .right_box {
        .sub_title {
          font-size: 2.2em;
          letter-spacing: 0px;
          line-height: 1.4545;
        }
        .content_wrapper {
          padding: 3.281em 1.5em 2.899em;
        }
      }
    }
  }
}
