.customer-journey-chart {
  background: transparent;
  color: white;
  position: relative;
  overflow: hidden;
  padding: 0 5em;

  .chart-content {
    display: flex;
    justify-content: space-around;
    height: 50.5em;
    margin: 10em 5em 5em;
    position: relative;
    z-index: 2;
    padding-bottom: 15.25em;
    overflow-x: auto;

    @media (max-width: 431px) {
      margin: 0;
      padding-bottom: 12em;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .metric-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
    width: 2.5em;

    @media (max-width: 1024px) {
      min-width: 40px;
    }
    @media (max-width: 768px) {
      min-width: 60px;
    }
    @media (max-width: 431px) {
      min-width: 70px;
    }
  }

  .metric-bar {
    width: 2px;
    background: linear-gradient(to top, transparent, #ffffff);
    height: calc(var(--value) + 3.125em);
    position: absolute;
    bottom: 0;
    transform: translateY(
      calc(1.25em + 1.875em * sin(0.4 * (var(--index) - 1) * (360deg / 14)))
    );

    &::before {
      content: '';
      position: absolute;
      top: -2.9875em;
      left: -2.2em;
      width: 4.75em;
      height: 4.75em;
      background: radial-gradient(circle, var(--color) 0%, transparent 70%);
      border-radius: 50%;
    }

    &::after {
      content: '';
      position: absolute;
      top: -0px;
      left: -1.5px;
      width: 5px;
      height: 5px;
      background-color: #ffffff;
      border-radius: 50%;
      box-shadow: 0 0 10px 2px var(--color);
    }
  }

  .metric-value {
    position: absolute;
    top: -31px;
    left: 50%;
    font-size: calc(2em - var(--index) * 0.05em);
    font-weight: 600;
    white-space: nowrap;
  }

  .metric-name {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 0.545);
    font-size: 1.2em;
    text-align: center;
    width: 7em;
    transition: all 0.3s ease;
  }

  @for $i from 1 through 14 {
    $angle: ($i - 1) * (360deg / 14);
    $wave-height: 0.625em;
    $descent: ($i - 1) * 0.3125em;

    .metric-item:nth-child(#{$i}) {
      .metric-bar {
        height: calc(
          max(3.125em, (var(--value) * 0.567em)) -
            #{$descent} +
            #{$wave-height *
            sin(0.4 * ($i - 1) * $angle)}
        );

        @media (max-width: 768px) {
          height: calc(
            max(3.125em, (var(--value) * 0.467em)) - #{$descent} + #{$wave-height *
              sin(0.4 * ($i - 1) * $angle)}
          );
        }

        @media (max-width: 431px) {
          height: calc(
            max(3.125em, (var(--value) * 0.367em)) - #{$descent} + #{$wave-height *
              sin(0.4 * ($i - 1) * $angle)}
          );
        }
      }
      .metric-name {
        bottom: calc(
          -5em + #{$wave-height + 1.875em * sin(0.4 * ($i) * $angle)}
        );
      }
    }
  }

  .chart-description {
    max-width: 43.75em;
    font-weight: 300;
    position: absolute;
    top: 1.5em;
    right: 4.25em;
    font-size: 1.8em;
    color: rgba(255, 255, 255, 0.751);
    line-height: 1.5;
    text-align: right;
    z-index: 5;

    @media (max-width: 1024px) {
      right: 0px;
      font-size: 1.2em;
      padding: 2em;
      top: 8em;
    }

    @media (max-width: 768px) {
      max-width: 35.75em;
      right: 0px;
      font-size: 1em;
      padding: 2em;
      top: 15em;
    }

    @media (max-width: 431px) {
      max-width: 100%;
      font-size: 1em;
      text-align: left;
      padding: 2em;
      top: 6em;
    }
  }
}

@media (max-width: 1024px) {
  .customer-journey-chart {
    padding: 2em;

    .chart-content {
      flex-wrap: nowrap;
      // height: 35.25em;
      overflow-x: scroll;
      // padding-bottom: 8em;
    }

    // .metric-item {
    //   min-width: 40px;
    // }

    // .chart-description {
    //   right: 0px;
    //   font-size: 1.2em;
    //   padding: 2em;
    //   top: 8em;
    // }
  }
}
