.campaign-management {
  // background: transparent
  //   linear-gradient(180deg, #001596 0%, #091669 21%, #0d1756 79%, #001596 100%)
  //   0% 0% no-repeat padding-box;
  background: #0b1865;
  // color: white;
  padding: 6.8125em 2em 8.375em;
  position: relative;
  overflow: hidden;

  .heading {
    max-width: 96em;
    margin: 0 auto;
  }

  .techno-el {
    position: absolute;
    top: 2em;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .left-el,
    .right-el {
      width: 35%;
    }

    .left-el {
      transform: translateX(-15em) scaleX(-1);
    }

    .right-el {
      transform: translateX(15em);
    }
  }

  .section_heading {
    color: #ffffff;
  }
  .section_desc32 {
    max-width: 77.5em;
    margin: 1em auto 0;
    color: #ffffffd2;
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 1.5;
  }

  .hexagon-image {
    text-align: center;
    margin-top: 5.5em;

    img {
      max-width: 80%;
      height: auto;
    }
  }
}

@media (max-width: 768px) {
  .campaign-management {
    padding: 4em 0;
  }
}
