.ccm-hub {
  text-align: center;

  h2 {
    margin-block: 1.5em;
    color: #ffffff;
    font-weight: 300;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // 4 columns on larger screens
    gap: 5em;
    padding: 2em;

    .node {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        width: 20em;
        height: auto;
        margin-bottom: 0.5em;
        mix-blend-mode: screen;
      }

      span {
        font-size: 1.3em;
        color: inherit;
      }
    }
  }

  .features-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 4em auto 2em;
    padding: 2em;
    // background: #ffffff1a 0% 0% no-repeat padding-box;
    background-color: #101b66;
    width: fit-content;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 2em;

    @media (max-width: 1024px) {
      flex-wrap: nowrap;
    }

    .feature {
      display: flex;
      align-items: center;
      padding-inline: 4em;
      gap: 1em;
      border-right: 1px solid #cccccc47;

      &:last-child {
        border-right: none;
      }

      @media (max-width: 1024px) {
        padding-inline: 2em;
      }

      img,
      video {
        width: 80px;
        height: auto;
        margin-bottom: 0.5rem;
        border-radius: 50%;
      }

      span {
        font-size: 0.8rem;
        width: 8em;
        text-align: left;
        color: inherit;
      }
    }
  }
}

@media (max-width: 991px) {
  .ccm-hub {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
    .features-container {
      flex-wrap: wrap;
      position: relative;
      width: 100%;
      max-width: 70%;
      &::before {
        content: "";
        background-color: #cccccc47;
        width: 1px;
        height: calc(100% - 4em);
        position: absolute;
        left: 50%;
        top: 2em;
        transform: translateX(-50%);
      }
      .feature {
        width: 100%;
        max-width: 47%;
        border-right: none;
        border-bottom: 1px solid #cccccc47;
        padding-bottom: 1em;
        &:nth-child(2n + 2) {
          justify-content: flex-end;
        }
        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
          padding-top: 1em;
        }
        &:nth-last-child(2) {
          border-bottom: none;
          padding-bottom: 0;
          padding-top: 1em;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .ccm-hub .grid {
    gap: 2.1em;
    padding: 1em 0;
    grid-template-columns: repeat(2, 1fr);
  }

  .ccm-hub .features-container {
    row-gap: 2em;
    flex-wrap: wrap-reverse;

    .feature {
      padding-inline: 1em;
      // border: none;
    }
  }
}

@media (max-width: 767px) {
  .ccm-hub {
    h2 {
      font-size: 2.8em;
      line-height: normal;
      letter-spacing: 0px;
      margin: 0 0 01.142em;
    }
    .grid {
      .node {
        span {
          font-size: 1.4em;
          line-height: 1.5;
          letter-spacing: 0px;
        }
        img {
          width: 100%;
          max-width: 21em;
        }
      }
    }
    .features-container {
      max-width: 100%;
      gap: 0;
      .feature {
        flex-direction: column;
        gap: 0;
         &:nth-last-child(2) {
          border-bottom: 1px solid #cccccc47;
          padding-bottom: 1.75em;
        }
         &:last-child {
          border-bottom: 1px solid #cccccc47;
          padding-bottom: 1.75em;
        }
         &:nth-child(1),
         &:nth-child(2) {
          border-bottom: none;
          padding-bottom: 0;
          padding-top: 1.75em;
        }
         span {
          font-size: 1.4em;
          letter-spacing: 0px;
          line-height: 1.5;
          text-align: center;
         }
      }
    }
  }
}