@import "../../styles/common.scss";

.events_sec2 {
  padding: 9.961em 5em 6.25em;
  position: relative;
  overflow: hidden;
  // .gallery_container {
  //   padding-right: 5em;
  // }
  .gallery_wrapper {
    background-color: #ffffff;
  }
  .load_wrapper {
    margin: 5em 0 0;
    padding: 0 0 6.25em;
    text-align: center;
    background-color: #ffffff;
    .load_more {
      border: none;
      background-color: transparent;
      color: #343b3c;
      display: inline-block;
      font-size: 1.5em;
      font-weight: 400;
      letter-spacing: 0px;
      line-height: normal;
      text-align: center;
      text-decoration: underline;
      cursor: pointer;
      &:focus-visible {
        outline: none;
      }
      &:focus {
        outline: none;
      }
    }
  }
}

@media (max-width: 767px) {
  .events_sec2 {
    padding: 6em 1.5em 6em 1.5em;
    // .gallery_container {
    //   padding-right: 0;
    // }
    .load_wrapper {
      margin: 4em 0 0;
      padding: 0 0 6em;
    }
  }
}
